<table>
  <caption>
    基本的なサンプルコード
  </caption>
  <tr>
    <th>サンプルコード</th>
    <th>名前</th>
    <th>デバイス</th>
    <th>物理量/現象</th>
    <th>種別</th>
  </tr>
  {% assign examples = site.data.devices.data | where: "難易度", "1" %}
  {% for example in examples %}
  <tr>
    <td>
      <a href="{{ example['サンプルコード.URL'] }}" target="_blank" button>
        <img
          alt="{{ example['サンプルコード.短い名前'] }}"
          src="https://img.shields.io/badge/{{ 'MakeCode' | cgi_escape }}-3454d1"
          loading="lazy"
          style="margin: 0;"
        />
      </a>
    </td>
    <td>
      {% if example['サンプルコード.説明URL'] == blank %}
      {{ example['サンプルコード.短い名前'] }}
      {% else %}
      <a href="{{ example['サンプルコード.説明URL'] }}" target="_blank"
        >{{ example['サンプルコード.短い名前'] }}</a
      >
      {% endif %}
    </td>
    <td>{{ example['名称'] }}</td>
    <td>{{ example['対象の物理量または現象'] }}</td>
    <td>{{ example['種別'] }}</td>
  </tr>
  {% endfor %}
</table>
