<table>
  <caption>
    代表的なセンサー・アクチュエーター
  </caption>
  <tr>
    <th>サンプルコード</th>
    <th>名前</th>
    <th>物理量/現象</th>
    <th>デバイス</th>
    <th>種別</th>
  </tr>
  {% for device in site.data.devices.data %}
  <tr>
    <td>
      <a href="{{ device['サンプルコード.URL'] }}" target="_blank" button>
        <img
          alt="{{ device['サンプルコード.短い名前'] }}"
          src="https://img.shields.io/badge/{{ 'MakeCode' | cgi_escape }}-3454d1"
          loading="lazy"
          style="margin: 0;"
        />
      </a>
    </td>
    <td>
      {% if device['サンプルコード.説明URL'] == blank %}
      {{ device['サンプルコード.短い名前'] }}
      {% else %}
      <a href="{{ device['サンプルコード.説明URL'] }}" target="_blank"
        >{{ device['サンプルコード.短い名前'] }}</a
      >
      {% endif %}
    </td>
    <td>{{ device['対象の物理量または現象'] }}</td>
    <td>{{ device['名称'] }}</td>
    <td>{{ device['種別'] }}</td>
  </tr>
  {% endfor %}
</table>
