<table>
  <tr>
    <th>サンプルコード</th>
    <th>QRコード</th>
    <th>名前</th>
    <th>デバイス</th>
    <th>物理量/現象</th>
  </tr>
  {% for device in site.data.devices.data %}
  <tr>
    <td>
      <a href="{{ device['サンプルコードURL'] }}" target="_blank">
        <img
          alt="{{ device['サンプルコード短い名前'] }}"
          src="https://img.shields.io/badge/MakeCode-3454d1"
          loading="lazy"
          style="margin: 0;"
        />
      </a>
    </td>
    <td>
      <a
        href="https://chart.apis.google.com/chart?cht=qr&chs=500&chl={{ device['サンプルコードURL'] | cgi_escape }}"
        target="_blank"
      >
        <img
          alt="{{ device['サンプルコード短い名前'] }} QRコード"
          src="https://chart.apis.google.com/chart?cht=qr&chs=74&chl={{ device['サンプルコードURL'] | cgi_escape }}"
          loading="lazy"
          style="margin: 0;"
        />
      </a>
    </td>
    <td>
      {% if device['サンプルコード説明URL'] == blank %} {{
      device['サンプルコード短い名前'] }} {% else %}
      <a href="{{ device['サンプルコード説明URL'] }}" target="_blank"
        >{{ device['サンプルコード短い名前'] }}</a
      >
      {% endif %}
    </td>
    <td>{{ device['名称'] }}</td>
    <td>{{ device['対象の物理量または現象'] }}</td>
  </tr>
  {% endfor %}
</table>
